version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "{{ stack_name }}"
s3_bucket = "{{ s3_bucket }}"
s3_prefix = "{{ s3_prefix }}"
region = "{{ region }}"
confirm_changeset = false
capabilities = "CAPABILITY_IAM"